.headerContainer {
  height: 5rem;

  background-color: var(--shape);

  border-bottom: 0.25px solid var(--border);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;

  margin: 0 auto;

  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;

    h1 {
      height: 5.5rem;

      font-size: 1.5rem;
      font-weight: 400;

      color: var(--title);

      line-height: 5rem;

      span {
        font-size: 2rem;

        color: var(--blue);
      }
    }

    a {
      height: 5rem;

      font-size: 1rem;

      line-height: 5rem;

      color: var(--text);

      margin-left: 5rem;

      padding: 0 0.25rem;

      display: inline-block;
      position: relative;

      transition: color 0.2s;

      &:hover {
        color: var(--white);
      }

      &.activity::after {
        content: "";

        width: 100%;
        height: 3px;

        background-color: var(--blue-button);

        border-radius: 3px 3px 0 0;

        position: absolute;
        bottom: 2px;
        left: 0;
      }
    }
  }

  .buttonNew {
    width: 10rem;

    background-color: var(--shape);

    font-size: 1rem;
    font-weight: 400;

    color: var(--title);

    padding: 0.25rem 0.5rem;

    border: 1px solid var(--blue-button);
    border-radius: 0.25rem;

    text-transform: none;

    transition: background-color 2s;

    &:hover {
      background-color: var(--blue-button);
    }
  }
}

.mainContainer {
  max-width: 1120px;

  margin: 0 auto;

  padding: 0 2rem;

  div {
    width: 100%;
    height: 100vh;

    padding: 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
      font-size: 1.3rem;
      font-weight: 400;
  
      color: var(--title);

      & + h2 {
        margin-top: 2rem;
      }
    }
  }

  table {
    width: 80%;
    border-spacing: 0 0.5rem;
    margin: 0 auto;
    padding: 2rem 0;

    th{
      background-color: var(--background-alt);

      font-size: 1.1rem;
      font-weight: 400;
      color: var(--title);

      text-align: left;

      padding: 1rem 2rem;

      border: 0;
      border-radius: 3px;
    }

    td{
      background-color: var(--shape);

      font-size: 1rem;
      font-weight: 400;
      color: var(--text);

      padding: 1rem 2rem;

      border: 0;
      border-radius: 3px;

      div {
        width: 100%;
        height: 1.5rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
          font-size: 1rem;
          font-weight: 600;

          color: var(--blue-light);

          text-transform: none;

          padding: 0.25rem 0.5rem;

          &:hover {
            color: var(--blue-hover);
          }
        }
      }
    }

    
  }
}
